* { margin: 0; padding: 0; }

html { 
	background: url(cyrus-richard.gif) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	overflow:hidden
}

#cyrus{
	border:18px solid #843434;
	border-radius:900px;
	width:500px;
	height:500px;
	position: absolute;
	left: 80%;
	top: 40%; 
	margin-left: -350px;
	margin-top: -220px;
}

#about{
	position:absolute;
	left:-20px;
	bottom:-10px;
	float:right;
	color:white;
	font: 200%/2 Georgia, Serif;
	-moz-box-shadow: 0 0 20px black;
	-webkit-box-shadow: 0 0 20px black;
	box-shadow: 0 0 20px black;
	text-align:center;
	border-radius:20px;
	padding:5px 30px;
	background:#555;
	opacity: 0.6;
}

h1, h2{
	font-size:20px;
	display:inline;
	line-height:10px;
}

h2:before{
	content: " - ";
}